.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background: var(--primary-gradient);
  box-shadow: var(--shadow);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 70px;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.circle-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.circle-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22px;
  height: 16px;
}

.hamburger-icon .bar {
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 1px;
}

.logo-link {
  text-decoration: none;
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  padding: 5px;
  overflow: hidden;
}

.logo-link:hover .logo-container {
  transform: scale(1.05);
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile-link {
  text-decoration: none;
}

.profile-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile-icon .user-head {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 2px;
}

.profile-icon .user-body {
  width: 22px;
  height: 11px;
  background-color: white;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}